<launch>
 <!-- Turtlesim Node-->
  <node pkg="turtlesim" type="turtlesim_node" name="sim">
    <remap from="turtle1/cmd_vel" to="cmd_vel_mux/input/xbox_joy"/>
  </node>

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- Axes -->
  <param name="axis_linear" value="3" type="int"/>
  <param name="axis_angular" value="2" type="int"/>
  <param name="scale_linear" value="0.2" type="double"/>
  <param name="scale_angular" value="1" type="double"/>
  <node pkg="chuan_control" type="turtle_teleop_joy" name="teleop">
    <remap from="turtle1/cmd_vel" to="cmd_vel_mux/input/xbox_joy"/>
  </node>
</launch>
