<?xml version="1.0"?>
<robot name="chuan" xmlns:xacro="http://ros.org/wiki/xacro">
  
    <link name="base_link">
        <visual>
        <geometry>
            <box size="1.5 1 0.3"/>
        </geometry>
        <material name="fense"/>
        </visual>
    </link> 

    <link name="velodyne">
        <visual>
        <geometry>
            <cylinder length="0.05" radius="0.05"/>
        </geometry>
        <material name="white"/>
        </visual>
    </link>

    <joint name="velodyne_to_base_link" type="fixed">
        <parent link="base_link"/>
        <child link="velodyne"/>
        <origin rpy="0 0 0" xyz="0.2 0.0 0.5"/>
    </joint>



 
</robot>
